h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--utilityText);
  margin: var(--paragraphSpacer) 0;
  line-height: 1em;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
}
h2 {
  font-size: 3rem;
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
}
h4 {
  font-size: 1.75rem;
  font-weight: 400;
}
h5 {
  font-size: 1.5rem;
  font-weight: 700;
}
h6 {
  font-size: 1.25rem;
  font-weight: 700;
}