input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  appearance: none;
  background-color: var(--inputBackground);
  color: var(--inputText);
  font-family: var(--utilityText);
  font-size: var(--inputFontSize);
  border: 1px solid var(--inputLine);
  border-radius: 6px;
  outline-width: 0;
  height: var(--inputHeight);
  padding: var(--inputPadding);
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
  box-shadow: 0 0 0 0 var(--inputLineHover) inset;
}

input[type="date"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover,
select:hover {
  border-color: var(--inputLineHover);
}

input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: var(--inputLineHover);
  box-shadow: 0 0 0 2px var(--inputLineHover) inset;
  outline-width: 0;
}

input[type="date"]:active,
input[type="datetime-local"]:active,
input[type="email"]:active,
input[type="month"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="text"]:active,
input[type="time"]:active,
input[type="url"]:active,
input[type="week"]:active,
input:not([type]):active,
textarea:active,
select:active {
  border-color: var(--inputLineActive);
  box-shadow: 0 0 0 2px var(--inputLineActive) inset;
  outline-width: 0;
}

input[type="date"]:disabled,
input[type="date"][readonly],
input[type="datetime-local"]:disabled,
input[type="datetime-local"][readonly],
input[type="email"]:disabled,
input[type="email"][readonly],
input[type="month"]:disabled,
input[type="month"][readonly],
input[type="number"]:disabled,
input[type="number"][readonly],
input[type="password"]:disabled,
input[type="password"][readonly],
input[type="search"]:disabled,
input[type="search"][readonly],
input[type="tel"]:disabled,
input[type="tel"][readonly],
input[type="text"]:disabled,
input[type="text"][readonly],
input[type="time"]:disabled,
input[type="time"][readonly],
input[type="url"]:disabled,
input[type="url"][readonly],
input[type="week"]:disabled,
input[type="week"][readonly],
input:not([type]):disabled,
input:not([type])[readonly],
textarea:disabled,
textarea[readonly],
select:disabled,
select[readonly] {
  color: var(--inputVague);
  background-color: var(--inputBackgroundDisabled);
}

input[type="date"]:disabled:hover,
input[type="date"][readonly]:hover,
input[type="datetime-local"]:disabled:hover,
input[type="datetime-local"][readonly]:hover,
input[type="email"]:disabled:hover,
input[type="email"][readonly]:hover,
input[type="month"]:disabled:hover,
input[type="month"][readonly]:hover,
input[type="number"]:disabled:hover,
input[type="number"][readonly]:hover,
input[type="password"]:disabled:hover,
input[type="password"][readonly]:hover,
input[type="search"]:disabled:hover,
input[type="search"][readonly]:hover,
input[type="tel"]:disabled:hover,
input[type="tel"][readonly]:hover,
input[type="text"]:disabled:hover,
input[type="text"][readonly]:hover,
input[type="time"]:disabled:hover,
input[type="time"][readonly]:hover,
input[type="url"]:disabled:hover,
input[type="url"][readonly]:hover,
input[type="week"]:disabled:hover,
input[type="week"][readonly]:hover,
input:not([type]):disabled:hover,
input:not([type])[readonly]:hover,
textarea:disabled:hover,
textarea[readonly]:hover,
select:disabled:hover,
select[readonly]:hover {
  cursor: not-allowed;
  border-color: var(--inputVague);
}

input.invalid,
input[type="date"]:invalid,
input[type="datetime-local"]:invalid,
input[type="email"]:invalid,
input[type="month"]:invalid,
input[type="number"]:invalid,
input[type="password"]:invalid,
input[type="search"]:invalid,
input[type="tel"]:invalid,
input[type="text"]:invalid,
input[type="time"]:invalid,
input[type="url"]:invalid,
input[type="week"]:invalid,
input:not([type]):invalid,
textarea:invalid,
select:invalid {
  border-color: var(--inputLineError);
}

input.invalid:focus,
input[type="date"]:invalid:focus,
input[type="datetime-local"]:invalid:focus,
input[type="email"]:invalid:focus,
input[type="month"]:invalid:focus,
input[type="number"]:invalid:focus,
input[type="password"]:invalid:focus,
input[type="search"]:invalid:focus,
input[type="tel"]:invalid:focus,
input[type="text"]:invalid:focus,
input[type="time"]:invalid:focus,
input[type="url"]:invalid:focus,
input[type="week"]:invalid:focus,
input:not([type]):invalid:focus,
textarea:invalid:focus,
select:invalid:focus {
  border-color: var(--inputLineError);
  box-shadow: 0 0 0 2px var(--inputLineError) inset;
  outline-width: 0;
}

input[type="date"][required]:empty,
input[type="datetime-local"][required]:empty,
input[type="email"][required]:empty,
input[type="month"][required]:empty,
input[type="number"][required]:empty,
input[type="password"][required]:empty,
input[type="search"][required]:empty,
input[type="tel"][required]:empty,
input[type="text"][required]:empty,
input[type="time"][required]:empty,
input[type="url"][required]:empty,
input[type="week"][required]:empty,
input:not([type])[required]:empty,
textarea[required]:empty,
select[required]:empty {
  border-color: var(--inputLine);
  outline-width: 0;
}

input[type="date"][required]:empty:hover,
input[type="datetime-local"][required]:empty:hover,
input[type="email"][required]:empty:hover,
input[type="month"][required]:empty:hover,
input[type="number"][required]:empty:hover,
input[type="password"][required]:empty:hover,
input[type="search"][required]:empty:hover,
input[type="tel"][required]:empty:hover,
input[type="text"][required]:empty:hover,
input[type="time"][required]:empty:hover,
input[type="url"][required]:empty:hover,
input[type="week"][required]:empty:hover,
input:not([type])[required]:empty:hover,
textarea[required]:empty:hover,
select[required]:empty:hover {
  border-color: var(--inputLineHover);
}

input[type="date"][required]:empty:focus,
input[type="datetime-local"][required]:empty:focus,
input[type="email"][required]:empty:focus,
input[type="month"][required]:empty:focus,
input[type="number"][required]:empty:focus,
input[type="password"][required]:empty:focus,
input[type="search"][required]:empty:focus,
input[type="tel"][required]:empty:focus,
input[type="text"][required]:empty:focus,
input[type="time"][required]:empty:focus,
input[type="url"][required]:empty:focus,
input[type="week"][required]:empty:focus,
input:not([type])[required]:empty:focus,
textarea[required]:empty:focus,
select[required]:empty:focus {
  border-color: var(--inputLineFocus);
}

input[type="date"][required]:empty:active,
input[type="datetime-local"][required]:empty:active,
input[type="email"][required]:empty:active,
input[type="month"][required]:empty:active,
input[type="number"][required]:empty:active,
input[type="password"][required]:empty:active,
input[type="search"][required]:empty:active,
input[type="tel"][required]:empty:active,
input[type="text"][required]:empty:active,
input[type="time"][required]:empty:active,
input[type="url"][required]:empty:active,
input[type="week"][required]:empty:active,
input:not([type])[required]:empty:active,
textarea[required]:empty:active,
select[required]:empty:active {
  border-color: var(--inputLineActive);
}

input[type="date"][required]:empty:invalid:hover,
input[type="datetime-local"][required]:empty:invalid:hover,
input[type="email"][required]:empty:invalid:hover,
input[type="month"][required]:empty:invalid:hover,
input[type="number"][required]:empty:invalid:hover,
input[type="password"][required]:empty:invalid:hover,
input[type="search"][required]:empty:invalid:hover,
input[type="tel"][required]:empty:invalid:hover,
input[type="text"][required]:empty:invalid:hover,
input[type="time"][required]:empty:invalid:hover,
input[type="url"][required]:empty:invalid:hover,
input[type="week"][required]:empty:invalid:hover,
input:not([type])[required]:empty:invalid:hover,
textarea[required]:empty:invalid:hover,
select[required]:empty:invalid:hover {
  border-color: var(--inputLineError);
}

input[type="date"][required]:empty:invalid:focus,
input[type="datetime-local"][required]:empty:invalid:focus,
input[type="email"][required]:empty:invalid:focus,
input[type="month"][required]:empty:invalid:focus,
input[type="number"][required]:empty:invalid:focus,
input[type="password"][required]:empty:invalid:focus,
input[type="search"][required]:empty:invalid:focus,
input[type="tel"][required]:empty:invalid:focus,
input[type="text"][required]:empty:invalid:focus,
input[type="time"][required]:empty:invalid:focus,
input[type="url"][required]:empty:invalid:focus,
input[type="week"][required]:empty:invalid:focus,
input:not([type])[required]:empty:invalid:focus,
textarea[required]:empty:invalid:focus,
select[required]:empty:invalid:focus {
  border-color: var(--inputLineError);
}

input[type="date"][required]:empty:invalid:active,
input[type="datetime-local"][required]:empty:invalid:active,
input[type="email"][required]:empty:invalid:active,
input[type="month"][required]:empty:invalid:active,
input[type="number"][required]:empty:invalid:active,
input[type="password"][required]:empty:invalid:active,
input[type="search"][required]:empty:invalid:active,
input[type="tel"][required]:empty:invalid:active,
input[type="text"][required]:empty:invalid:active,
input[type="time"][required]:empty:invalid:active,
input[type="url"][required]:empty:invalid:active,
input[type="week"][required]:empty:invalid:active,
input:not([type])[required]:empty:invalid:active,
textarea[required]:empty:invalid:active,
select[required]:empty:invalid:active {
  border-color: var(--inputLineError);
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
