@media (min-width: 320px) and (max-width: 666px) {
  body {
    --headerHeight: 52px;
    font-size: calc(var(--fontSize) * 0.8);
    line-height: calc(var(--lineHeight) * 0.8);
    padding-top: var(--headerHeight);
  }
}

@media (min-width: 667px) and (max-width: 900px) {
  body {
    --headerHeight: 62px;
    font-size: calc(var(--fontSize) * 0.9);
    line-height: calc(var(--lineHeight) * 0.9);
    padding-top: var(--headerHeight);
  }
}

@media (min-width: 901px) {
  body {
    --headerHeight: 65px;
    margin: 0;
    padding: 0;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    background-image: linear-gradient(
        var(--headerBackground),
        var(--headerBackground)
      ),
      linear-gradient(var(--headerLine), var(--headerLine));
    background-repeat: repeat-x;
    background-size: 1px var(--headerHeight), 1px 1px;
    background-position: 0 0, 0 var(--headerHeight);
  }

  body > .navbar {
    max-width: 1100px;
    padding: 0.75em 1em;
    margin: 0 auto 2em;
    grid-column: 1 / 13;
  }

  body > main {
    max-width: 1100px;
    padding: 0 1em;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;
  }

  body > main > article {
    grid-column: 1 / 13;
  }

  body > main > article > section {
    margin-bottom: 2em;
    border-bottom: 1px solid var(--mainLine);
  }

  body > main.sidebar-right > * {
    grid-column: 1 / 10;
  }

  body > main.sidebar-right > .sidebar {
    grid-column: 10 / 13;
  }

  body > main.sidebar-left > * {
    grid-column: 4 / 13;
  }

  body > main.sidebar-left > .sidebar {
    grid-column: 1 / 4;
  }
}
