.sidebar {
}

.sidebar ul {
  list-style-type: none;
  padding: 0 1.5em .8em;
  margin: 0;
}

.sidebar ul > h6 {
  margin: 0 0 .4em;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--mainVague);
}

.sidebar nav {
  font-family: var(--utilityText);
  display: grid;
  grid-template-columns: 1;
  padding: .5em 0;
  transition: .3s top;
}

.sidebar nav a {
  line-height: 1.5em !important;
  padding: .2em .4em;
  display: block;
  text-decoration: none;
  border-radius: 4px;
}

.sidebar nav a:hover, .sidebar nav a:focus {
  background-color: var(--mainBackgroundLiteHover);
}

.sidebar nav .active > a, .sidebar nav .current-menu-item > a {
  color: var(--white);
  background-color: var(--blue);
}

.sidebar nav .subnav > a .icon {
  float: right;
  fill: var(--mainVague);
  height: 1.3em;
  width: 1.3em;
  margin-top: .1em;
  transform: rotate(180deg);
  transform-origin: center;
  transition: 0.2s transform;
}

.sidebar nav .subnav.active > a .icon, .sidebar nav .subnav.active > a:hover .icon, .sidebar nav .subnav.active > a:focus .icon {
  fill: var(--white);
}

.sidebar nav .subnav > a.hover .icon,
.sidebar nav .subnav > a:hover .icon,
.sidebar nav .subnav > a:focus .icon {
  fill: var(--black);
  pointer-events: none;
}

.sidebar nav .subnav.open > a .icon, .sidebar nav .subnav.auto-open > a .icon {
  transform: rotate(0deg);
}

.sidebar nav .subnav > ul {
  padding: 0;
  height: 0;
  overflow: hidden;
  padding-left: .5em;
  font-size: 0.9em;
  line-height: 1.3em;
  border-left: 3px solid var(--mainLine);
}

.sidebar nav .subnav.open > ul, 
.sidebar nav .subnav.auto-open > ul, 
.sidebar nav .subnav > ul:focus-within {
  height: auto;
  margin: .4em 0 .4em .4em;
}

.sidebar nav .subnav > ul > li > a {
  color: var(--mainText);
}

.sidebar nav .subnav > ul > li.active > a {
  color: var(--white);
}