*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--fontFamily);
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

p {
  margin: var(--paragraphSpacer) 0;
}

p:first-child {
  margin-top: 0;
}

hr {
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: var(--mainLine);
  margin: var(--paragraphSpacer) 0;
}

hr.vertical {
  border-width: 0 0 0 1px;
  margin: 0 var(--paragraphSpacer);
}

blockquote {
  border: 1px solid var(--mainLine);
  border-radius: 6px;
  padding: 1em;
  background-color: var(--mainBackgroundLite);
}

blockquote footer {
  font-size: .9em;
  color: var(--mainVague);
}

blockquote footer:before {
  content: "\02015";
}

abbr,
time {
  background-color: transparent;
  text-decoration: underline dotted var(--mainVague);
  cursor: help;
}

mark {
  background-color: var(--yellow);
}
